---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Intro from "../components/Intro.astro";
import Hero from "../components/Hero.astro";
import Carousel from "../components/Carousel.astro";
import Trustpilot from "../components/Trustpilot.astro";
import Information from "../components/Information.astro";
import FoelgOs from "../components/FoelgOs.astro";
import FAQ from "../components/FAQ.astro";
---

<MainLayout title="HojskolenDK">
  <Hero />

  <Intro />

  <div class="relative">
  <img src="../images/orangebgdesktop.svg" alt="" class="lg:block hidden absolute z-[-100] lg:w-full lg:h-auto top-[-100px] lg:top-[-300px]" loading="lazy">
    <img src="../images/orangebgmobil.svg" alt="" class="lg:hidden block absolute z-[-100] w-full h-auto top-[-100px]" loading="lazy">
  <Carousel />
  </div>
  

  <Trustpilot />

  <Information />

  <FoelgOs />

  <FAQ />
  <div class="relative">
  <img src="../images/orangebgdesktop2.svg" alt="" class="lg:block hidden absolute z-[-100]  w-full h-auto lg:top-[-300px]" loading="lazy">
  <img src="../images/orangebgmobil2.svg" alt="" class="lg:hidden block absolute z-[-100]  w-full h-auto top-[-200px]" loading="lazy">
   </div>
</MainLayout>
