---
import Button from "../components/Button.astro";
import MyCustomImage from "../components/MyCustomImage.astro";
import mobileImage from "../assets/images/introimgmobile.svg";
import desktopImage from "../assets/images/introimg.svg";
---

<section class="bg-blaze-orange-50">
    <h2 class="font-display flex justify-center text-xxlarge-mobile lg:text-xxxlarge">ER DU KLAR PÅ DIT LIVS EVENTYR?</h2>
    <div class="flex justify-center">
    <p class="max-w-3xl text-center">HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi brænder for oplevelser, fællesskab og mødet med nye mennesker og kulturer; derfor laver vi eventyrlige højskoleophold i udlandet.</p>
    </div>
    <div class="flex flex-col lg:flex-row justify-center">
    <Button>VÆLG DIT EVENTYR</Button>
    <Button>TILMELD DIG INFOMØDE</Button>
    </div>

    <div class="flex justify-center">
        <MyCustomImage 
            mobileImgUrl={mobileImage}
            desktopImgUrl={desktopImage}
            alt="Intro eventyr fotos">
        </MyCustomImage>
    </div>
</section>