---
import Button from "../components/Button.astro";
import MyCustomImage from "../components/MyCustomImage.astro";
import mobileImage from "../assets/images/introimgmobile.svg";
import desktopImage from "../assets/images/introimg.svg";
---
<section class="pt-lg">
    <div class="px-sm lg:px-3xl">
        <h2 class="font-display text-center flex justify-center text-xxlarge-mobile lg:text-xxxlarge">ER DU KLAR PÅ DIT LIVS EVENTYR?</h2>
        <div class="flex justify-center">
        <p class="max-w-3xl text-center pt-xs">HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi brænder for oplevelser, fællesskab og mødet med nye mennesker og kulturer; derfor laver vi eventyrlige højskoleophold i udlandet.</p>
        </div>
        <div class="flex flex-col lg:flex-row justify-center gap-xs py-sm">
        <Button variant="secondary" size="medium" >VÆLG DIT EVENTYR</Button>
        <Button variant="primary" size="medium">TILMELD DIG INFOMØDE</Button>
        </div>
    </div>

    <div class="flex justify-center">
        <MyCustomImage 
            mobileImgUrl={mobileImage}
            desktopImgUrl={desktopImage}
            alt="Intro eventyr fotos">
        </MyCustomImage>
    </div>
</section>
